.PostPreview {
    .imageContainer {
        margin-bottom: 1.25rem;;
    }

    h3 {
        // $text-3xl
        font-size: 1.875rem;
        line-height: 1.375;        
        margin-bottom: 0.75rem;

            a:hover {
                text-decoration: underline;
            }
    }

    .date {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 1rem;
    }
    
    p {
        //$text-lg
        font-size: 1.125rem;
        line-height: 1.625;
        margin-bottom: 1rem;
    }
}
