.Tags {

    margin-bottom: 1.5rem;

    .tag {
        display: inline;
        margin-right: 10px;
        

        // a {
        //     display: block;
        // }

        a:hover {
            text-decoration: underline;
        }
    }
}
